@import "tailwindcss";

@layer base {
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #svelte {
    width: 100%;
    height: 100%;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: radial-gradient(circle at center, #1a1a1a, #292929) no-repeat fixed;
    color: #d6c28a;
    overflow-x: hidden;
  }
}